@import url("https://fonts.googleapis.com/css2?family=Seymour+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ScrollBar */

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #171f38;
}
::-webkit-scrollbar-thumb {
  background: #01d293;
  border-radius: 12px;
}

/* Header & Navigation */

#Header {
  transition: 500ms;
}

/* Font Behevior */

a,
p,
li,
ul,
span,
img {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  text-align: justify;
}

body {
  background: #1d2847;
}

/* Landing Page */

.tula-100,
.tula,
.Characters,
.Time {
  font-family: "Seymour One", sans-serif;
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: red;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: red;
}

.description {
  font-family: "Kanit", sans-serif;
  text-indent: 60px;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.Line {
  background-image: linear-gradient(
    to right,
    whitesmoke,
    #1d2847,
    #0e1630,
    #1d2847,
    whitesmoke
  );
}

.Line2 {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

.Poster {
  animation: floating 4s infinite;
}

@keyframes floating {
  0% {
    margin-top: 10px;
  }
  50% {
    margin-top: 100px;
  }
  100% {
    margin-top: 10px;
  }
}

/* About Page */

.BG {
  background-image: radial-gradient(circle, #1a2049 0%, #13162f 100%);
}

.About-Icon {
  box-shadow: 0 0 100px whitesmoke;
  background-color: transparent;
}

.Title {
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  background-clip: text;
  color: transparent;
}

/* Media Queries */

@media (max-width: 768px) {
  .NavRowList {
    inset: 0 0 0 30%;
    backdrop-filter: blur(1rem);
    background-color: #1d2847;
    box-shadow: 0px 1px 2.2px rgba(0, 0, 0, 0.02),
      0px 2.5px 5.3px rgba(0, 0, 0, 0.028), 0px 4.6px 10px rgba(0, 0, 0, 0.035),
      0px 8.3px 17.9px rgba(0, 0, 0, 0.042),
      0px 15.5px 33.4px rgba(0, 0, 0, 0.05), 0px 37px 80px rgba(0, 0, 0, 0.07);
    transition: 200ms ease;
  }
}
